@import "@material/react-button/index"; // the .scss extension is implied
@import "./styling/theme1/react-button-overrides";
// @import "@material/textfield/mdc-text-field";
@import './styling/theme1/react-text-overides.scss';


body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #3B3D40;
}

h1 {
    font-weight: bolder;
    font-size: 5.5em;
    font-kerning: none;
}

h2 {
    font-weight: bolder;
    font-size: 3.5em;
    font-kerning: none;
}

hr {
    width:70%;
}

.lead-text {
    font-weight: 300;
    font-style: italic;
    font-kerning: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  box-shadow: 0 0 0px 1000px rgb(217,231,253) inset;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px rgb(217,231,253) inset;
  transition: background-color 5000s ease-in-out 0s;
}



// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 80px;
// }

// .App-header {
//   background-color: #222;
//   height: 150px;
//   padding: 20px;
//   color: white;
// }

// .App-title {
//   font-size: 1.5em;
// }

// .App-intro {
//   font-size: large;
// }

// @keyframes App-logo-spin {
//   from { transform: rotate(0deg); }
//   to { transform: rotate(360deg); }
// }
