button:focus {
    outline: none;
}

.btn-group {
    display: flex; 
}

.donation-button-clicked:active{
    outline: none; 
}

.donation-button-clicked:focus{
    outline: none; 
    border: none;
}

/* .donation-button-clicked {
    height: 10vw !important; 
    width: 10vw !important; 
    border-radius: 50%; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 500% !important; 
    color: #f9f9f9 !important; 
    background: linear-gradient(to right, #2B89FE,  rgba(43, 138, 254, 0.561));
    overflow: hidden; 

}

.donation-button {
    height: 10vw !important; 
    width: 10vw !important; 
    border-radius: 50%; 
    border: 5px solid rgba(43, 138, 254, 0.5) !important; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 200% !important; 
    background-color: white;
    overflow: hidden; 
} */