#myFooter { 
    background: linear-gradient(to right,  #33658A, #3B3D40); 
    /* background:  #33658A;  */
    content: ""; 
    color: white;
    padding-top: 15px;
    margin-top: -80px; 
    width: 100%;
    height: 80px; 
   
}

.social-icons{
    float: right; 
}

.fa {
    margin: 5px; 
    color: #f9f9f9; 
}


/* #map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
} */

#myFooter .row {
    margin: 0 5px;
}

/* #myFooter .footer-copyright { */
    /* background: linear-gradient(to right, #5E5D5C, #33658A);   */
    /* padding-top: 3px;   
    padding-bottom: 3px;
    text-align: center;
} */

/* #myFooter .footer-copyright p {
    margin: 5px;
    color: #ccc;
} */









/* #myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
} */



@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 100px;
}

.icon {
    height: 20em;
    width: 20em; 
}

