.card {
    background: transparent;
    border: none;
}
/* 
.card-img-top {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
} */

.card-top {
    width: 15vw;
    height: 15vw;
    content: " ";
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.card-top > img {
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 100%;
    object-fit: cover;
    background: linear-gradient(to right, #ff3e00, #d62562);
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.card-body {
    text-align: center;
    margin-top: 1em;
}