.process-card {
    background: #f9f9f9;
    padding: 7%;
    box-shadow:0px 5px 10px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    border-top: 10px;
    border-top-style: solid;
    border-image: linear-gradient(to right,#ff3e00, #d62562) 10;
    margin-top: -7em;
}

@media (max-width: 575.98px) {
    .pillar-card-deck {
        display: none;
    }
    .mobile-pillars {
        display: visible;
    }
}

@media (min-width: 576px) { 
    .card-deck {
        display: visible;
    }
    .mobile-pillars {
        display: none;
    }
}