/* .navbar-brand{
    background-color: aqua;  
}

.navbar-collapse{
    background-color: chartreuse; 
} */

.navbar-brand, .navbar-light, .nav-link, .active{
    color: #f9f9f9 ;
}

.navbar-gradient {
    background: linear-gradient(to right, #ffb40f, #ff3e00);
    margin-bottom: 2em;
}