/* .card-deck {
    
        background: #f9f9f9;
        padding: 2%;
        box-shadow:0px 5px 10px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        border-top: 10px;
        border-top-style: solid;
        border-image: linear-gradient(to right,#ff3e00, #d62562) 10;
        margin-top: 5px;
    } */

    .team-wrapper{
        margin-top: 15px; 
    }

    .our-team{
        text-align: center; 
    }


    .card {
        background: transparent;
        border: none;
    }

    .card-img-top {
        width: 10vw;
        height: 10vw;
        content: " ";
        border-radius: 50%;
        border: 3px solid #3d6487; 
        position: relative;
        overflow: hidden;
        margin: auto;
        /* padding: 30%; */
    }

    .card-img-top > img {
        position: absolute;
        left: 50%;
        top: 50%;
        min-height: 101%;
        object-fit: cover;
        /* min-width: 100%; */
        /* padding: 25%; */
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }

    .team-card{
        background: #f9f9f9;
        padding: 2%;
        box-shadow:0px 5px 10px 2px rgba(0,0,0,0.2);
        border-radius: 3px;
        border-top: 10px;
        border-top-style: solid;
        border-image: linear-gradient(to right,#D65562, #6834FF) 10;
        margin-top: 5px;
    }
